.pagina-titulo {
    margin-bottom: 8px;
    margin-top: 0px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    padding: 16px;
}

.card h2{
    color: #25711b;
    font-size: 1.5rem;
    margin-bottom: 12px;
}