.pagina-titulo {
    margin-bottom: 8px;
    margin-top: 0px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    padding: 16px;
}

.card h2{
    color: #25711b;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.grafico-receitas {
    width: 500px;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #25711ba8 1px solid;
    border-radius: 8px;
}