.pagina-titulo {
    margin-bottom: 8px;
    margin-top: 0px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    padding: 16px;
}

.card h2{
    color: #25711b;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.link-pdf {
    font-weight: bold;
    color: #25711b;
    text-decoration: none;
}

.link-pdf :hover {
    color: #104e08;
    text-decoration: none;
    font-size: 1.01rem;
}

.curriculo {
    font-weight: bold;
    color: #25711b;
    text-decoration: none;
    margin-top: 8px;
}

.curriculo:hover {
    color: #104e08;
    font-size: 1.01rem;
}

.dt-referencia {
    font-size: 0.9rem;
    font-style: italic;
    color: #555555;
    margin-top: 20px;
}