.pagina-titulo {
    margin-bottom: 8px;
    margin-top: 0px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    padding: 16px;
}

.card h2{
    color: #25711b;
    margin-bottom: 12px;
}


.doc-icon {
    margin-right: 6px;
    font-size: 1rem;
    vertical-align: middle;
}

.link-pdf {
    color: #25711b;
    font-weight: 500;
    margin-top: 25px;
    text-decoration: none;
}

.link-pdf:hover {
    color: #104e08;
    text-decoration: none;
}

.curriculo {
    font-weight: 500;
    color: #25711b;
    text-decoration: none;
    margin-top: 8px;
}

.curriculo:hover {
    color: #104e08;
}

.dt-referencia {
    font-size: 0.9rem;
    font-style: italic;
    color: #555555;
    margin-top: 12px;
}

.tabela-estagios {
    margin-top: 20px;
}