.pagina-titulo {
    margin-bottom: 8px;
    margin-top: 0px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
    padding: 16px;
}

.card h2{
    color: #25711b;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.doc-icon {
    margin-right: 6px;
    font-size: 1rem;
    vertical-align: middle;
}

.doc-list {
    list-style-type: none;
    padding-left: 0;

    margin-top: 30px;
}

.link-pdf {
    font-size: 16px;
    color: #25711b;
    font-weight: 400;
    margin-top: 10px;
    text-decoration: none;
}

.link-pdf:hover {
    color: #104e08;
    text-decoration: none;
}