.card-home {
    font-size: 16px;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    margin-bottom: 20px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.18);
    border: none;
    padding: 20px 35px;
    margin: 20px 0;
}

.card p {
    text-align: justify;
}

.grid-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    margin-bottom: 2rem;
    margin-top: 1000px;
}

.tile {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 4px 24px rgba(212, 252, 206, 0.08), 0 1.5px 4px rgba(37, 113, 27, 0.04);
    transition: box-shadow 0.2s, transform 0.2s;
    text-decoration: none;
    color: #25711b;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 0;
}


.tile:hover {
    box-shadow: 0 8px 32px rgba(37, 113, 27, 0.14), 0 2px 8px rgba(37, 113, 27, 0.08);
    transform: translateY(-1px) scale(1.0);
    border-color: #e0e0e0;
}

.tile h3 {
    background: #25711b0e;
    border-radius: 1rem 1rem 0 0;
    color: #25711b;
    padding: 1.2rem 1.5rem;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    width: 100%;
}

.tile p {
    padding: 1.5rem;
    font-size: 1rem;
    color: #222;
    margin: 0;
    flex: 1;
}

